<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Tracker</title>
    
    <!-- styling -->
    {% include "template_styling.html" %}
    <!-- favicon -->
    {% include "template_favicon.html" %}
</head>
<body class="bg-light">
    <header class="bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <nav class="mb-auto">
                <div>
                    <p class="float-md-start fs-4 py-1 text-light">Flex Program</p>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0 me-3 pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        {% include "template_calendar_modal.html" %}
                        <a class="nav-link fw-bold py-1 px-0" href="/dashboard">Dashboard</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/account">Account</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="d-flex justify-content-between w-75 mx-auto mt-4 mb-5 pt-5 ps-1 bg-tan rounded">
            <h1 class="text-dark fw-bolder me-2">flex</br>DAILY MEAL TRACKER</h1>
            <p class="fs-1 text-white pe-3">{{day.strftime('%b %d, %Y')}}</p>
        </div>

        <!-- Daily Summary -->
        <div class="container my-5 w-75">
            <h3 class="fw-bold">Daily Summary</h3>
            <p>Total macro nutrients for the day.</p>
            <div class="d-flex gap-4 flx-summary">
                <div class="d-flex gap-4 flx-summary-block">
                    <div class="card text-white bg-primary mb-3 flx-summary-items border-dark">
                        <div class="card-header fw-bold bg-dark text-tan">Lean Proteins</div>
                        <div class="card-body bg-white text-dark">
                            {% if sums %}
                                <h5 class="card-title">{{sums[0]["total_proteins"]|round}} protiens</h5>
                            {% else %}
                                <h5 class="card-title">0 protiens</h5>
                            {% endif %}
                            <p class="card-text">Goal: 8 ounces</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3 flx-summary-items border-dark">
                        <div class="card-header fw-bold bg-dark text-tan">Fats</div>
                        <div class="card-body bg-white text-dark">
                            {% if sums %}
                                <h5 class="card-title">{{sums[0]["total_fats"]|round}} fats</h5>
                            {% else %}
                                <h5 class="card-title">0 fats</h5>
                            {% endif %}
                            <p class="card-text">Goal: 8 servings</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-4 flx-summary-block">
                    <div class="card text-white bg-primary mb-3 flx-summary-items border-dark">
                        <div class="card-header fw-bold bg-dark text-tan">Fruits</div>
                        <div class="card-body bg-white text-dark">
                            {% if sums %}
                                <h5 class="card-title">{{sums[0]["total_fruits"]|round}} fruits</h5>
                            {% else %}
                                <h5 class="card-title">0 fruits</h5>
                            {% endif %}
                            <p class="card-text">Goal: 1 fruit</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3 flx-summary-items border-dark">
                        <div class="card-header fw-bold bg-dark text-tan">Vegetables</div>
                        <div class="card-body bg-white text-dark">
                            {% if sums %}
                                <h5 class="card-title">{{sums[0]["total_vegetables"]|round}} veggies</h5>
                            {% else %}
                                <h5 class="card-title">0 veggies</h5>
                            {% endif %}
                            <p class="card-text">Goal: 6 veggies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Meal Details -->
        <div class="container rounded bg-white shadow p-4 mx-auto w-75 my-5">
            <div class="d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold mt-3">Meal Details</h3> 
                    <p>Add meal details, including amounts of proteins, fats, fruits, and vegetables enjoyed during each meal.</p>
                </div>
                {% if log_info.meal_details_flag == "Yes" %}
                    <a href="/meal_details/edit/{{day.strftime('%Y-%m-%d')}}" class="btn btn-secondary h-75 text-light py-2">Update</a>
                {% else %}
                    <a href="/meal_details/add/{{day.strftime('%Y-%m-%d')}}" class="btn btn-tan h-75 text-light py-2">Add</a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between gap-4 meal-block">
                <!-- Breakfast -->
                <div class="meal-items">
                    <div class="container rounded p-3">                  
                        <p class="fs-3 text-tan">Breakfast</p>
                        <div class="form-floating mb-3">   
                            {% if log_info.meals %}                         
                                <textarea class="form-control" name="breakfast_details" style="height: 150px" disabled>{{log_info.meals[0]["details"]}}</textarea>
                            {% else %}
                                <textarea class="form-control" name="breakfast_details" style="height: 150px" disabled></textarea>
                            {% endif %}
                            <label for="breakfast">Breakfast meal details</label>
                        </div>
                        <div class="d-flex justify-content-between gap-1 meal-items-section">
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals %} 
                                        <input type="number" step="0.01" name="breakfast_proteins" class="form-control" value="{{log_info.meals[0]['proteins']}}" disabled >
                                    {% else %}
                                        <input type="number" step="0.01" name="breakfast_proteins" class="form-control" disabled>
                                    {% endif %}
                                    <label for="proteins" class="form-label">Proteins (oz)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals %} 
                                        <input type="number" step="0.01" name="breakfast_fats" class="form-control" value="{{log_info.meals[0]['fats']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="breakfast_fats" class="form-control" disabled>
                                    {% endif %}
                                    <label for="fats" class="form-label">Fats (serving)</label>
                                </div>
                            </div>
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals %} 
                                        <input type="number" step="0.01" name="breakfast_fruits" class="form-control" value="{{log_info.meals[0]['fruits']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="breakfast_fruits" class="form-control" disabled>
                                    {% endif %}
                                    <label for="fruits" class="form-label">Fruits (qty)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals %} 
                                        <input type="number" step="0.01" name="breakfast_vegetables" class="form-control" value="{{log_info.meals[0]['vegetables']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="breakfast_vegetables" class="form-control" disabled>
                                    {% endif %}
                                    <label for="vegetables" class="form-label">Veggies (qty)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Lunch -->
                <div class="meal-items">
                    <div class="container rounded p-3">
                        <p class="fs-3 text-tan">Lunch</p>
                        <div class="form-floating mb-3">
                            {% if log_info.meals%}                         
                                <textarea class="form-control" name="lunch_details" style="height: 150px" disabled>{{log_info.meals[1]['details']}}</textarea>
                            {% else %}
                                <textarea class="form-control" name="lunch_details" style="height: 150px" disabled></textarea>
                            {% endif %}
                            <label for="lunch">Lunch meal details</label>
                        </div>
                        <div class="d-flex justify-content-between gap-1 meal-items-section">
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="lunch_proteins" class="form-control" value="{{log_info.meals[1]['proteins']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="lunch_proteins" class="form-control" disabled>
                                    {% endif %}
                                    <label for="proteins" class="form-label">Proteins (oz)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="lunch_fats" class="form-control" value="{{log_info.meals[1]['fats']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="lunch_fats" class="form-control" disabled>
                                    {% endif %}
                                    <label for="fats" class="form-label">Fats (serving)</label>
                                </div>
                            </div>
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="lunch_fruits" class="form-control" value="{{log_info.meals[1]['fruits']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="lunch_fruits" class="form-control" disabled>
                                    {% endif %}
                                    <label for="fruits" class="form-label">Fruits (qty)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="lunch_vegetables" class="form-control" value="{{log_info.meals[1]['vegetables']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="lunch_vegetables" class="form-control" disabled>
                                    {% endif %}
                                    <label for="vegetables" class="form-label">Veggies (qty)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between gap-3 mt-4 meal-block">
                <!-- Dinner -->
                <div class="meal-items">
                    <div class="container rounded p-3">
                        <p class="fs-3 text-tan">Dinner</p>
                        <div class="form-floating mb-3">
                            {% if log_info.meals%}                         
                                <textarea class="form-control" name="dinner_details" style="height: 150px" disabled>{{log_info.meals[2]['details']}}</textarea>
                            {% else %}
                                <textarea class="form-control" name="dinner_details" style="height: 150px" disabled></textarea>
                            {% endif %}
                            <label for="dinner">Dinner meal details</label>
                        </div>
                        <div class="d-flex justify-content-between gap-1 meal-items-section">
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="dinner_proteins" class="form-control" value="{{log_info.meals[2]['proteins']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="dinner_proteins" class="form-control" disabled>
                                    {% endif %}
                                    <label for="proteins" class="form-label">Proteins (oz)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="dinner_fats" class="form-control" value="{{log_info.meals[2]['fats']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="dinner_fats" class="form-control" disabled>                                    
                                    {% endif %}
                                    <label for="fats" class="form-label">Fats (serving)</label>
                                </div>
                            </div>
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="dinner_fruits" class="form-control" value="{{log_info.meals[2]['fruits']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="dinner_fruits" class="form-control" disabled>
                                    {% endif %}
                                    <label for="fruits" class="form-label">Fruits (qty)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="dinner_vegetables" class="form-control" value="{{log_info.meals[2]['vegetables']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="dinner_vegetables" class="form-control" disabled>
                                    {% endif %}
                                    <label for="vegetables" class="form-label">Veggies (qty)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Snack -->
                <div class="meal-items">
                    <div class="container rounded p-3">
                        <p class="fs-3 text-tan">Snack</p>
                        <div class="form-floating mb-3">
                            {% if log_info.meals%}                         
                                <textarea class="form-control" name="snack_details" style="height: 150px" disabled>{{log_info.meals[3]['details']}}</textarea>
                            {% else %}
                                <textarea class="form-control" name="snack_details" style="height: 150px" disabled></textarea>
                            {% endif %}
                            <label for="snack">Snack meal details</label>
                        </div>
                        <div class="d-flex justify-content-between gap-1 meal-items-section">
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="snack_proteins" class="form-control" value="{{log_info.meals[3]['proteins']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="snack_proteins" class="form-control" disabled>
                                    {% endif %}
                                    <label for="proteins" class="form-label">Proteins (oz)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="snack_fats" class="form-control" value="{{log_info.meals[3]['fats']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="snack_fats" class="form-control" disabled>
                                    {% endif %}
                                    <label for="fats" class="form-label">Fats (serving)</label>
                                </div>
                            </div>
                            <div class="d-flex gap-1 meal-items-block">
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="snack_fruits" class="form-control" value="{{log_info.meals[3]['fruits']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="snack_fruits" class="form-control" disabled>
                                    {% endif %}
                                    <label for="fruits" class="form-label">Fruits (qty)</label>
                                </div>
                                <div class="form-floating">
                                    {% if log_info.meals%}                         
                                        <input type="number" step="0.01" name="snack_vegetables" class="form-control" value="{{log_info.meals[3]['vegetables']}}" disabled>
                                    {% else %}
                                        <input type="number" step="0.01" name="snack_vegetables" class="form-control" disabled>
                                    {% endif %}
                                    <label for="vegetables" class="form-label">Veggies (qty)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Daily Checks -->
        <div class="container rounded bg-white shadow p-4 w-75 mt-5">
            <div class="d-flex justify-content-between">
                <h3 class="fw-bold mt-3">Daily Checks</h3>
                {% if log_info.daily_checks_flag == "Yes" %}
                    <a href="/daily_checks/edit/{{day.strftime('%Y-%m-%d')}}" class="btn btn-secondary h-75 text-light py-2">Update</a>
                {% else %}
                    <a href="/daily_checks/add/{{day.strftime('%Y-%m-%d')}}" class="btn btn-tan h-75 text-light py-2">Add</a>
                {% endif %}
            </div>
            <!-- Water/Hydration Info -->
            <div>
                <p>Click a water droplet for every 8oz of water water you drink throughout the day!</p>
                <div class="d-flex justify-items-between gap-3 flex-wrap">
                    {% for i in range(1,11) %}
                        {% if (log_info.water) and (log_info.water >= i) %}
                            <a href="" class="btn btn-lg btn-outline-success active mx-1 disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                                </svg>
                            </a>
                        {% else %}
                            <a href="" class="btn btn-lg btn-outline-success mx-1 disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                                </svg>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Other Daily Check Checkboxes -->
            <div class="mt-4">
                <p>Check the appropriate boxes when the activities occur each day.</p>
                <div class="container">
                    {% if (log_info.id) and (log_info.flex_daily_bonus) == 1 %}
                        <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" value="{{log_info.flex_daily_bonus}}" checked disabled>
                    {% else %}
                        <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" disabled>
                    {% endif %}
                    <label for="daily_bonus" class="form-check-label fs-5">Flex<sup>TM</sup> Daily Bonus</label>
                </div>
                <div class="container mt-2">
                    {% if (log_info.id) and (log_info.exercise == 1) %}
                        <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" value="{{log_info.exercise}}" checked disabled>
                    {% else %}
                        <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" disabled>
                    {% endif %}
                    <label for="exercise" class="form-check-label pt-1 fs-5">30+ Minute Exercise</label>
                </div>
            </div>
        </div>

        <!-- Weight & Measurements -->
        <div class="container rounded bg-white shadow p-4 mx-auto w-75 my-5">
            <div class="d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold mt-3">Weight & Measurements</h3>
                    <p>Weigh-in and add your daily measurements</p>
                </div>
                {% if log_info.weight_measurements_flag == "Yes" %}
                    <a href="/weight_measurements/edit/{{day.strftime('%Y-%m-%d')}}" class="btn btn-secondary h-75 text-light py-2">Update</a>
                {% else %}
                    <a href="/weight_measurements/add/{{day.strftime('%Y-%m-%d')}}" class="btn btn-tan h-75 text-light py-2">Add</a>
                {% endif %}
            </div>
            <!-- Fields List -->
            <div>
                <div class="d-flex align-items-start gap-5 flx-wm">
                    <div class="d-flex gap-5 flx-wm-block">
                        <div>
                            <label for="weight" class="form-label">Weight</label>
                            <div class="mb-3 input-group">
                                {% if log_info.weight %}
                                    <input type="number" step="0.01" name="weight" class="form-control" value="{{log_info.weight}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="weight" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">lbs</span>
                            </div>
                        </div>
                        <div>
                            <label for="bust" class="form-label">Bust</label>
                            <div class="mb-3 input-group">
                                {% if log_info.bust %}
                                    <input type="number" step="0.01" name="bust" class="form-control" value="{{log_info.bust}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="bust" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="waist" class="form-label">Waist</label>
                            <div class="mb-3 input-group">
                                {% if log_info.waist %}
                                    <input type="number" step="0.01" name="waist" class="form-control" value="{{log_info.waist}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="waist" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="abdomen" class="form-label">Abdomen</label>
                            <div class="mb-3 input-group">
                                {% if log_info.abdomen %}
                                    <input type="number" step="0.01" name="abdomen" class="form-control" value="{{log_info.abdomen}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="abdomen" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="hips" class="form-label">Hips</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_arm %}
                                    <input type="number" step="0.01" name="hips" class="form-control" value="{{log_info.right_arm}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="hips" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex gap-5 flx-wm-block">
                        <div>
                            <label for="right_arm" class="form-label">Right Arm</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_arm %}
                                    <input type="number" step="0.01" name="right_arm" class="form-control" value="{{log_info.right_arm}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="right_arm" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="left_arm" class="form-label">Left Arm</label>
                            <div class="mb-3 input-group">
                                {% if log_info.left_arm %}
                                    <input type="number" step="0.01" name="left_arm" class="form-control" value="{{log_info.left_arm}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="left_arm" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                        <div>
                            <label for="right_thigh" class="form-label">Right Thigh</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_thigh %}
                                    <input type="number" step="0.01" name="right_thigh" class="form-control" value="{{log_info.right_thigh}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="right_thigh" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="left_thigh" class="form-label">Left Thigh</label>
                            <div class="mb-3 input-group">
                                {% if log_info.left_thigh %}
                                    <input type="number" step="0.01" name="left_thigh" class="form-control" value="{{log_info.left_thigh}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="left_thigh" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="right_calf" class="form-label">Right Calf</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_calf %}
                                    <input type="number" step="0.01" name="right_calf" class="form-control" value="{{log_info.right_calf}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="right_calf" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="left_calf" class="form-label">Left Calf</label>
                            <div class="mb-3 input-group">
                                {% if log_info.left_calf %}
                                    <input type="number" step="0.01" name="left_calf" class="form-control" value="{{log_info.left_calf}}" disabled>
                                {% else %}
                                    <input type="number" step="0.01" name="left_calf" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete option w/ modal confirmation -->
        <div class="container p-2 w-75 my-5">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Daily Log</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Permanently Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Clicking <span class="fw-bold">Delete</span> will permanently delete all daily log information (including meal details, daily checks, and weight/measurement information) for {{day.strftime('%b %d, %Y')}}.</p>
                            <p class="text-danger">This action cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="/daily_checks/delete/{{day.strftime('%Y-%m-%d')}}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- SCROLL TO TOP -->
        {% include "template_scroll_top.html" %}
    </main>
    
    <!-- FOOTER -->
    {% include "template_footer.html" %}

    <!-- SCRIPTS -->
    {% include "template_scripts.html" %}
</body>
</html>