<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Checks</title>

    <!-- styling -->
    {% include "template_styling.html" %}
    <!-- favicon -->
    {% include "template_favicon.html" %}
</head>
<body class="bg-taupe">
    <header class="bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <nav class="mb-auto">
                <div>
                    <p class="float-md-start fs-4 py-1 text-light">Flex Program</p>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0 me-3 disabled" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        {% include "template_calendar_modal.html" %}
                        <a class="nav-link fw-bold py-1 px-0 disabled" href="/dashboard">Dashboard</a>
                        <a class="nav-link fw-bold py-1 px-0 disabled" href="/account">Account</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <form action="/daily_checks/action/{{day.strftime('%Y-%m-%d')}}" method="post">
            <div class="container flx-pg mx-auto px-5 py-3 my-5 bg-white rounded shadow">
                {% if log_info and log_info.daily_checks_flag == "Yes" %}
                    <h1 class="text-tan fw-bolder text-center mt-4">Update Daily Checks</h1>
                {% else %}
                    <h1 class="text-tan fw-bolder text-center mt-4">Add Daily Checks</h1>
                {% endif %}
                <p class="text-tan mt-2 text-center fs-5">for {{day.strftime('%b %d, %Y')}}</p>
                <div class="d-flex justify-content-end py-4 border-bottom-tan">
                    <a href="/daily_checks/action/cancel/{{day.strftime('%Y-%m-%d')}}" class="btn btn-secondary mt-4 text-end me-2">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-tan mt-4 text-end">
                </div>
                <div class="mt-4">
                    <div class="mx-auto p-3 my-3">
                        <h5>Hydration</h3>
                        <div>
                            <label for="water" class="form-label">How much water have you had today? Input the number of 8oz glasses below:</label>
                            {% if log_info and log_info.water %}
                                <input type="number" name="water" class="form-control w-50" value="{{log_info.water}}">
                            {% elif "water" in session %}
                                <input type="number" name="water" class="form-control w-50" value="{{session['water']}}">
                            {% else %}
                                <input type="number" name="water" class="form-control w-50">
                            {% endif %}
                            {% with messages = get_flashed_messages(category_filter = ["water"])%}
                                {% if messages %}
                                    {% for msg in messages %}
                                        <p class="text-danger">{{msg}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="p-3 my-3">
                        <h5 class="mt-4">Daily Checks</h3>
                        <div>
                            <p>Check the appropriate boxes when the activities occur each day.</p>
                            <div class="container">
                                {% if log_info and log_info.flex_daily_bonus == 1 %}
                                    <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" value="{{log_info.flex_daily_bonus}}" checked>
                                {% elif session["flex_daily_bonus"] == 1 %}
                                    <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" value="{{session['flex_daily_bonus']}}" checked>
                                {% else %}
                                    <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" value=0>
                                {% endif %}
                                <label for="daily_bonus" class="form-check-label fs-5">Flex<sup>TM</sup> Daily Bonus</label>
                            </div>
                            <div class="container mt-2">
                                {% if log_info and log_info.exercise == 1 %}
                                    <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" value="{{log_info.exercise}}" checked>
                                {% elif session["exercise"] == 1 %}
                                    <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" value="{{log_info.exercise}}" checked>
                                {% else %}
                                    <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" value=0>
                                {% endif %}   
                                <label for="exercise" class="form-check-label pt-1 fs-5">30+ Minute Exercise</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- SCROLL TO TOP -->
        {% include "template_scroll_top.html" %}
    </main>

    {% include "template_footer.html" %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>