<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <!-- styling -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
</head>
<body class="bg-light">
    <header class="bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <nav class="mb-auto">
                <div>
                    <p class="float-md-start fs-4 py-1 text-light">Flex Program</p>
                    <nav class="nav nav-masthead justify-content-center float-md-end">

                        <!-- Calendar Offcanvas-->
                        <a class="nav-link fw-bold py-1 px-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Calendar</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body bg-light">
                                <p class="my-3">Select a date to view the daily tracker.</p>
                                <div class="calendar ms-2">
                                    <div class="calendar-header">
                                        <span class="month-picker" id="month-picker">April</span>
                                        <div class="year-picker">
                                            <span class="year-change" id="prev-year">
                                                <pre><</pre>
                                            </span>
                                            <span id="year">2022</span>
                                            <span class="year-change" id="next-year">
                                                <pre>></pre>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="calendar-body">
                                        <div class="calendar-week-day">
                                            <div>Sun</div>
                                            <div>Mon</div>
                                            <div>Tue</div>
                                            <div>Wed</div>
                                            <div>Thu</div>
                                            <div>Fri</div>
                                            <div>Sat</div>
                                        </div>
                                        <div class="calendar-days"></div>
                                    </div>
                                    <div class="month-list"></div>
                                </div>
                            </div>
                        </div>

                        <a class="nav-link fw-bold py-1 px-0 active" href="">Dashboard</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/account">Account</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- DAILY LOG -->
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom-tan">Daily Log</h2>
            <p class="mt-3 fs-5">Open the Calendar to add/update your daily entries.</p>
                <a class="btn btn-lg btn-tan" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                        <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg> Calendar
                </a>
        </div>

        <!-- SNAPSHOTS -->
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom-tan">Snapshots</h2>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="bg-stat-img-2 card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            {% if wm %}   
                                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Dropped {{wm[0]["weight_delta"]|round}} inches</h2>
                            {% else %}
                                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Dropped 0 inches</h2>
                            {% endif %}
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                    </svg>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                    <small>Measurements</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-stat-img-1 card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        {% if wm %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Over {{wm[0]["measurement_delta"]|round}} lbs lost</h2>
                        {% else %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">0 lbs lost</h2>
                        {% endif %}
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                    <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                </svg>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                <small>Weight</small>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-stat-img-3 card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        {% if exercise %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{exercise[0]["percent_exercise"]|round}}% Daily Exercise Goal</h2>
                        {% else %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">0% Daily Exercise Goal</h2>
                        {% endif %}
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                    <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                </svg>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                <small>Exercise</small>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <p class="fst-italic text-secondary">Snapshot statistics are current calculations based on initial weight and measurements provided in your <a href="/account" class="text-info">account</a>. Any updated daily logs will factor into exercise calculation.</p>
        </div>

        <!-- EXERCISE INSPIRATION -->
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom-tan">Exercise</h2>
            <p class="mt-3 fs-5">Need help with reaching your daily exercise goals? Make a selection below to access a comprehensive list of thousands of exercises targeting every major muscle group! </p>
            
            <form action="/exercise" method="post">
                <div class="w-25 mb-3">
                    <label for="muscle" class="form-label">Muscle Group</label>
                    <select class="form-select" name="muscle" aria-label="Muscle" required>
                        <option selected>Any</option>
                        <option value="abdominals">Abs</option>
                        <option value="abductors">Outher Thigh</option>
                        <option value="adductors">Inner Thigh</option>
                        <option value="biceps">Biceps</option>
                        <option value="calves">Calves</option>
                        <option value="chest">Chest</option>
                        <option value="forearms">Forearms</option>
                        <option value="glutes">Glutes</option>
                        <option value="hamstrings">Hamstrings</option>
                        <option value="lats">Lats</option>
                        <option value="lower_back">Lower Back</option>
                        <option value="middle_back">Middle Back</option>
                        <option value="neck">Neck</option>
                        <option value="quadriceps">Quadriceps</option>
                        <option value="traps">Traps</option>
                        <option value="triceps">Triceps</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-tan text-white" value="Get Exercises">
            </form>

        </div>
    </main>
    <footer class="bg-dark text-light py-3">
        <div class="d-flex w-100 h-100 pt-5 gap-5 cover-container mx-auto">
            <img src="../static/images/MH-logo-light.png" alt="" class="fload-md-start footer-logo">
            <div class="float-md-end mx-auto">
                <p>Created with &#9825 by Melissa Hernandez</p>
                <p>Source code available on <a class="link text-tan" target="_blank" href="https://github.com/mmhernandez/flex_meal_tracker">GitHub</a></p>
                <div class="socials">
                    <p>
                        <a href="https://github.com/mmhernandez" target="_blank"><img src="https://skillicons.dev/icons?i=github" alt="github" class="footer-social"></a>
                        <a href="https://www.linkedin.com/in/melissa-dangelo-hernandez/" target="_blank"><img src="https://skillicons.dev/icons?i=linkedin" alt="linkedin" class="footer-social"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>