<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <!-- styling -->
    {% include "template_styling.html" %}
    <!-- favicon -->
    {% include "template_favicon.html" %}
</head>
<body class="bg-light">
    <header class="bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <nav class="mb-auto">
                <div>
                    <p class="float-md-start fs-4 py-1 text-light">Flex Program</p>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        {% include "template_calendar_modal.html" %}
                        <a class="nav-link fw-bold py-1 px-0 active" href="">Dashboard</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/account">Account</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- DAILY LOG -->
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom-tan">Daily Log</h2>
            <p class="mt-3 fs-5">Open the Calendar to add/update your daily entries.</p>
            <a class="btn btn-lg btn-tan" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                    <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg> Calendar
            </a>
        </div>

        <!-- SNAPSHOTS -->
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom-tan">Snapshots</h2>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="bg-stat-img-2 card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            {% if measurements and measurements[0]["measurement_delta"] and measurements[0]["measurement_delta"] > 0 %}   
                                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Dropped {{measurements[0]["measurement_delta"]|round}} inches</h2>
                            {% else %}
                                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Dropped 0 inches</h2>
                            {% endif %}
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                    </svg>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                    <small>Measurements</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-stat-img-1 card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        {% if weight and weight[0]["weight_delta"] and weight[0]["weight_delta"] > 0 %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Over {{weight[0]["weight_delta"]|round}} lbs lost</h2>
                        {% else %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">0 lbs lost</h2>
                        {% endif %}
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                    <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                </svg>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                <small>Weight</small>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-stat-img-3 card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        {% if exercise %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{exercise[0]["percent_exercise"]|round}}% Daily Exercise Goal</h2>
                        {% else %}
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">0% Daily Exercise Goal</h2>
                        {% endif %}
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                    <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                </svg>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                <small>Exercise</small>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <p class="fst-italic text-secondary">Snapshot statistics are current calculations based on initial weight and measurements provided in your <a href="/account" class="text-info">account</a>. Any updated daily logs will factor into exercise calculation.</p>
        </div>

        <!-- EXERCISE INSPIRATION -->
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom-tan">Exercise</h2>
            <p class="mt-3 fs-5">Need help with reaching your daily exercise goals? Make a selection below to access a comprehensive list of thousands of exercises targeting every major muscle group! </p>
            
            <form action="/exercise" method="post">
                <div class="w-25 mb-3">
                    <label for="muscle" class="form-label">Muscle Group</label>
                    <select class="form-select" name="muscle" aria-label="Muscle" required>
                        <option selected>Any</option>
                        <option value="abdominals">Abs</option>
                        <option value="abductors">Outher Thigh</option>
                        <option value="adductors">Inner Thigh</option>
                        <option value="biceps">Biceps</option>
                        <option value="calves">Calves</option>
                        <option value="chest">Chest</option>
                        <option value="forearms">Forearms</option>
                        <option value="glutes">Glutes</option>
                        <option value="hamstrings">Hamstrings</option>
                        <option value="lats">Lats</option>
                        <option value="lower_back">Lower Back</option>
                        <option value="middle_back">Middle Back</option>
                        <option value="neck">Neck</option>
                        <option value="quadriceps">Quadriceps</option>
                        <option value="traps">Traps</option>
                        <option value="triceps">Triceps</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-tan text-white" value="Get Exercises">
            </form>
        </div>

        <!-- REPORTS -->
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom-tan">Reports</h2>
            <p class="mt-3 fs-5">View a detailed or condensed report of your daily tracker input.</p>
            <p class="fw-bold">Week report</p>
            <p>View a detailed report of your daily meal tracker input from the last 7 days.</p>
            <a href="/weekly_report" class="btn btn-lg btn-tan">Detailed Report</a>
            <p class="fw-bold mt-5">Month report</p>
            <p>View a condensed report of your daily tracker input from the last 30 days</p>
            <a href="" class="btn btn-lg btn-tan">Condensed Report</a>
        </div>

        <!-- SCROLL TO TOP -->
        {% include "template_scroll_top.html" %}
    </main>
    
    <!-- FOOTER -->
    {% include "template_footer.html" %}

    <!-- SCRIPTS -->
    {% include "template_scripts.html" %}
</body>
</html>