<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <!-- styling -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/cover.css">
</head>
<body class="bg-cover-image d-flex h-100 text-center text-bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="mb-auto">
            <div>
                <a href="#" class="nav nav-link float-md-start fs-4 py-1 text-dark">Flex Program</a>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" href="#">Home</a>
                    <a class="nav-link fw-bold py-1 px-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Calendar</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>Select a date to view the daily tracker.</p>
                                <!-- calendar inspired by http://colorhunt.co/c/8184 and https://dribbble.com/shots/2407357-Calendar%60 -->
                                <div class="container calendar">
                                    <div class="front">
                                        <div class="current-date">
                                            <h1>Friday 15th</h1>
                                            <h1>January 2016</h1> 
                                        </div>
                                        <div class="current-month">
                                            <ul class="week-days">
                                                <li>MON</li>
                                                <li>TUE</li>
                                                <li>WED</li>
                                                <li>THU</li>
                                                <li>FRI</li>
                                                <li>SAT</li>
                                                <li>SUN</li>
                                            </ul>
                                            <div class="weeks">
                                                <div class="first">
                                                    <span class="last-month">28</span>
                                                    <span class="last-month">29</span>
                                                    <span class="last-month">30</span>
                                                    <span class="last-month">31</span>
                                                    <span>01</span>
                                                    <span>02</span>
                                                    <span>03</span>
                                                </div>
                                                <div class="second">
                                                    <span class="event">04</span>
                                                    <span>05</span>
                                                    <span class="event">06</span>
                                                    <span class="event">07</span>
                                                    <span class="event">08</span>
                                                    <span>09</span>
                                                    <span>10</span>
                                                </div>
                                                <div class="third">
                                                    <span class="event">11</span>
                                                    <span>12</span>
                                                    <span class="event">13</span>
                                                    <span class="event">14</span>
                                                    <span class="active">15</span>
                                                    <span>16</span>
                                                    <span>17</span>
                                                </div>
                                                <div class="fourth">
                                                    <span>18</span>
                                                    <span>19</span>
                                                    <span>20</span>
                                                    <span>21</span>
                                                    <span>22</span>
                                                    <span>23</span>
                                                    <span>24</span>
                                                </div>
                                                <div class="fifth">
                                                    <span>25</span>
                                                    <span>26</span>
                                                    <span>27</span>
                                                    <span>28</span>
                                                    <span>29</span>
                                                    <span>30</span>
                                                    <span>31</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Stats</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Login</a>
                </nav>
            </div>
        </nav>
        <footer class="mt-auto text-white-50">
            <p>Created with <span class="text-white">&#9825</span> by <span class="text-white">Melissa Herhandez</span></p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
