<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <!-- styling -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
</head>
<body class="bg-light">
    <section class="d-flex justify-content-end align-items-start hero">
        <div class="hero-inner">
            <a href="/sign_up" class="btn btn-lg btn-light">Sign up</a>
            <a href="/log_in" class="btn btn-lg btn-dark my-3 ms-2 me-5">Log in</a>
        </div>
    </section>
    <main>
        <div class="d-flex justify-content-end align-items-start">
            <a href="sign_up" class="btn btn-lg btn-outline-dark my-3">Sign up</a>
            <a href="log_in" class="btn btn-lg btn-dark my-3 ms-2 me-5">Log in</a>
        </div>
        <!-- put some info about the site/app purpose and  -->
    </main>

    <footer class="bg-dark text-light py-3">
        <div class="d-flex w-100 h-100 pt-5 gap-5 cover-container mx-auto align-items-center">
            <img src="../static/images/MH-logo-light.png" alt="" class="fload-md-start footer-logo">
            <p>Created with &#9825 by Melissa Herhandez</p>
            </div>
        </div>
    </footer>
</body>
</html>
