<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <!-- styling -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/cover.css">
</head>
<body class="bg-cover-image d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="mb-auto">
            <div>
                <a href="#" class="nav nav-link float-md-start fs-4 py-1 text-dark">Flex Program</a>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
                    <!-- {# Signup offcanvas #} -->
                    <a class="nav-link fw-bold py-1 px-0 me-3 pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSignup">Sign Up</a>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSignup">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasSignup">Sign Up</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body bg-light">
                            <div class="container mx-auto mt-2">
                                <h1 class="my-5">Create an account</h1>
                                <form action="/sign_up" method="post" class="px-2 mx-auto text-start">
                                    <div class="mb-3">
                                        <label for="first_name" class="form-label">First Name</label>
                                        <input type="text" name="first_name" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="last_name" class="form-label">Last Name</label>
                                        <input type="text" name="last_name" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password
                                            <a href="#" class="text-dark" data-bs-toggle="tooltip" title="Password requirements: at least one uppercase and lowercase letter, number, and special character">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle ms-1" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </a>
                                        </label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirm_password" class="form-label">Confirm Password</label>
                                        <input type="password" name="confirm_password" class="form-control">
                                    </div>
                                    <div class="d-flex justify-content-end mt-4">
                                        <input type="submit" value="Sign Up" class="btn btn-dark text-light">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- {# Login offcanvas #} -->
                    <a class="nav-link fw-bold py-1 px-0 me-3 pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLogin">Log In</a>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasLogin">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasLogin">Log In</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body bg-light">
                            <div class="container mx-auto mt-2">
                                <h1 class="my-5">Welcome back!</h1>
                                <form action="/login" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="email" name="email" class="form-control" placeholder="name@example.com">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" name="password" class="form-control" placeholder="********">
                                        <label for="password">Password</label>
                                    </div>
                                    <input type="submit" value="Log In" class="btn btn-dark text-light">
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
        <footer class="mt-auto text-white-50">
            <p>Created with <span class="text-white">&#9825</span> by <span class="text-white">Melissa Herhandez</span></p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
