<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Details</title>

    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
</head>
<body class="bg-taupe">
    <header class="bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <nav class="mb-auto">
                <div>
                    <p class="float-md-start fs-4 py-1 text-light">Flex Program</p>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        
                        <!-- Calendar Offcanvas-->
                        <a class="nav-link fw-bold py-1 px-0 me-3 disabled" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Calendar</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body bg-light">
                                <p class="my-3">Select a date to view the daily tracker.</p>
                                <div class="calendar ms-2">
                                    <div class="calendar-header">
                                        <span class="month-picker" id="month-picker">April</span>
                                        <div class="year-picker">
                                            <span class="year-change" id="prev-year">
                                                <pre><</pre>
                                            </span>
                                            <span id="year">2022</span>
                                            <span class="year-change" id="next-year">
                                                <pre>></pre>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="calendar-body">
                                        <div class="calendar-week-day">
                                            <div>Sun</div>
                                            <div>Mon</div>
                                            <div>Tue</div>
                                            <div>Wed</div>
                                            <div>Thu</div>
                                            <div>Fri</div>
                                            <div>Sat</div>
                                        </div>
                                        <div class="calendar-days"></div>
                                    </div>
                                    <div class="month-list"></div>
                                </div>
                            </div>
                        </div>

                        <a class="nav-link fw-bold py-1 px-0 disabled" href="/dashboard">Dashboard</a>
                        <a class="nav-link fw-bold py-1 px-0 disabled" href="/account">Account</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <form action="/meal_details/action/{{day.strftime('%Y-%m-%d')}}" method="post">
            <div class="container flx-pg mx-auto px-5 py-3 my-5 bg-white rounded shadow">
                {% if log_info and log_info.meal_details_flag == "Yes" %}
                    <h1 class="text-tan fw-bolder text-center mt-4">Edit Meal Details</h1>
                {% else %}
                    <h1 class="text-tan fw-bolder text-center mt-4">Add Meal Details</h1>
                {% endif %}
                <p class="text-tan mt-2 text-center fs-5">for {{day.strftime('%b %d, %Y')}}</p>
                <div class="d-flex justify-content-end py-4 border-bottom-tan">
                    <a href="/daily_tracker/{{day.strftime('%Y-%m-%d')}}" class="btn btn-secondary mt-4 text-end me-2">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-tan mt-4 text-end">
                </div>
                <div class="mt-4">
                    <!-- Breakfast -->
                    <div class="meal-items">
                        <div class="container rounded p-3">
                            <p class="fs-3 text-tan">Breakfast</p>
                            <div class="form-floating mb-3">
                                {% if log_info and log_info.meals %}
                                    <textarea class="form-control" name="breakfast_details" style="height: 150px">{{log_info.meals[0]["details"]}}</textarea>
                                {% elif "breakfast_details" in session %}
                                    <textarea class="form-control" name="breakfast_details" style="height: 150px">{{session['breakfast_details']}}</textarea>
                                {% else %}
                                    <textarea class="form-control" name="breakfast_details" style="height: 150px"></textarea>
                                {% endif %}
                                <label for="breakfast">Breakfast meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="breakfast_proteins" class="form-control" value="{{log_info.meals[0]['proteins']}}">
                                        {% elif "breakfast_details" in session %}
                                            <input type="number" name="breakfast_proteins" class="form-control" value="{{session['breakfast_proteins']}}">
                                        {% else %}
                                            <input type="number" name="breakfast_proteins" class="form-control">
                                        {% endif %}
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="breakfast_fats" class="form-control" value="{{log_info.meals[0]['fats']}}">
                                        {% elif "breakfast_details" in session %}
                                            <input type="number" name="breakfast_fats" class="form-control" value="{{session['breakfast_fats']}}">
                                        {% else %}
                                            <input type="number" name="breakfast_fats" class="form-control">
                                        {% endif %}
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="breakfast_fruits" class="form-control" value="{{log_info.meals[0]['fruits']}}">
                                        {% elif "breakfast_details" in session %}
                                            <input type="number" name="breakfast_fruits" class="form-control" value="{{session['breakfast_fruits']}}">
                                        {% else %}
                                            <input type="number" name="breakfast_fruits" class="form-control">
                                        {% endif %}
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="breakfast_vegetables" class="form-control" value="{{log_info.meals[0]['vegetables']}}">
                                        {% elif "breakfast_details" in session %}
                                            <input type="number" name="breakfast_vegetables" class="form-control" value="{{session['breakfast_vegetables']}}">
                                        {% else %}
                                            <input type="number" name="breakfast_vegetables" class="form-control">
                                        {% endif %}
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages(category_filter = ["breakfast"])%}
                                {% if messages %}
                                    {% for msg in messages %}
                                        <p class="text-danger text-center rounded py-2 my-2" style="background-color:#F5DADF">{{msg}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <!-- Lunch -->
                    <div class="meal-items">
                        <div class="container rounded p-3">
                            <p class="fs-3 text-tan">Lunch</p>
                            <div class="form-floating mb-3">
                                {% if log_info and log_info.meals %}
                                    <textarea class="form-control" name="lunch_details" style="height: 150px">{{log_info.meals[1]['details']}}</textarea>
                                {% elif "lunch_details" in session %}
                                    <textarea class="form-control" name="lunch_details" style="height: 150px">{{session['lunch_details']}}</textarea>
                                {% else %}
                                    <textarea class="form-control" name="lunch_details" style="height: 150px"></textarea>
                                {% endif %}
                                <label for="lunch">Lunch meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="lunch_proteins" class="form-control" value="{{log_info.meals[1]['proteins']}}">
                                        {% elif "lunch_details" in session %}
                                            <input type="number" name="lunch_proteins" class="form-control" value="{{session['lunch_proteins']}}">
                                        {% else %}
                                            <input type="number" name="lunch_proteins" class="form-control">
                                        {% endif %}
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="lunch_fats" class="form-control" value="{{log_info.meals[1]['fats']}}">
                                        {% elif "lunch_details" in session %}
                                            <input type="number" name="lunch_fats" class="form-control" value="{{session['lunch_fats']}}">
                                        {% else %}
                                            <input type="number" name="lunch_fats" class="form-control">
                                        {% endif %}
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="lunch_fruits" class="form-control" value="{{log_info.meals[1]['fruits']}}">
                                        {% elif "lunch_details" in session %}
                                            <input type="number" name="lunch_fruits" class="form-control" value="{{session['lunch_fruits']}}">
                                        {% else %}
                                            <input type="number" name="lunch_fruits" class="form-control">
                                        {% endif %}
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="lunch_vegetables" class="form-control" value="{{log_info.meals[1]['vegetables']}}">
                                        {% elif "lunch_details" in session %}
                                            <input type="number" name="lunch_vegetables" class="form-control" value="{{session['lunch_vegetables']}}">
                                        {% else %}
                                            <input type="number" name="lunch_vegetables" class="form-control">
                                        {% endif %}
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages(category_filter = ["lunch"])%}
                                {% if messages %}
                                    {% for msg in messages %}
                                        <p class="text-danger text-center rounded py-2 my-2" style="background-color:#F5DADF">{{msg}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <!-- Dinner -->
                    <div class="meal-items">
                        <div class="container rounded p-3">
                            <p class="fs-3 text-tan">Dinner</p>
                            <div class="form-floating mb-3">
                                {% if log_info and log_info.meals %}
                                    <textarea class="form-control" name="dinner_details" style="height: 150px">{{log_info.meals[2]['details']}}</textarea>
                                {% elif "dinner_details" in session %}
                                    <textarea class="form-control" name="dinner_details" style="height: 150px">{{session['dinner_details']}}</textarea>
                                {% else %}
                                    <textarea class="form-control" name="dinner_details" style="height: 150px"></textarea>
                                {% endif %}
                                <label for="dinner">Dinner meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="dinner_proteins" class="form-control" value="{{log_info.meals[2]['proteins']}}">
                                        {% elif "dinner_details" in session %}
                                            <input type="number" name="dinner_proteins" class="form-control" value="{{session['dinner_proteins']}}">
                                        {% else %}
                                            <input type="number" name="dinner_proteins" class="form-control">
                                        {% endif %}
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="dinner_fats" class="form-control" value="{{log_info.meals[2]['fats']}}">
                                        {% elif "dinner_details" in session %}
                                            <input type="number" name="dinner_fats" class="form-control" value="{{session['dinner_fats']}}">
                                        {% else %}
                                            <input type="number" name="dinner_fats" class="form-control">
                                        {% endif %}
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="dinner_fruits" class="form-control" value="{{log_info.meals[2]['fruits']}}">
                                        {% elif "dinner_details" in session %}
                                            <input type="number" name="dinner_fruits" class="form-control" value="{{session['dinner_fruits']}}">
                                        {% else %}
                                            <input type="number" name="dinner_fruits" class="form-control">
                                        {% endif %}
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="dinner_vegetables" class="form-control" value="{{log_info.meals[2]['vegetables']}}">
                                        {% elif "dinner_details" in session %}
                                            <input type="number" name="dinner_vegetables" class="form-control" value="{{session['dinner_vegetables']}}">
                                        {% else %}
                                            <input type="number" name="dinner_vegetables" class="form-control">
                                        {% endif %}
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages(category_filter = ["dinner"])%}
                                {% if messages %}
                                    {% for msg in messages %}
                                        <p class="text-danger text-center rounded py-2 my-2" style="background-color:#F5DADF">{{msg}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <!-- Snack -->
                    <div class="meal-items">
                        <div class="container rounded p-3">
                            <p class="fs-3 text-tan">Snack</p>
                            <div class="form-floating mb-3">
                                {% if log_info and log_info.meals %}
                                    <textarea class="form-control" name="snack_details" style="height: 150px">{{log_info.meals[3]['details']}}</textarea>
                                {% elif "snack_details" in session %}
                                    <textarea class="form-control" name="snack_details" style="height: 150px">{{session['snack_details']}}</textarea>
                                {% else %}
                                    <textarea class="form-control" name="snack_details" style="height: 150px"></textarea>
                                {% endif %}
                                <label for="snack">Snack meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="snack_proteins" class="form-control" value="{{log_info.meals[3]['proteins']}}">
                                        {% elif "snack_details" in session %}
                                            <input type="number" name="snack_proteins" class="form-control" value="{{session['snack_proteins']}}">
                                        {% else %}
                                            <input type="number" name="snack_proteins" class="form-control">
                                        {% endif %}
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="snack_fats" class="form-control" value="{{log_info.meals[3]['fats']}}">
                                        {% elif "snack_details" in session %}
                                            <input type="number" name="snack_fats" class="form-control" value="{{session['snack_fats']}}">
                                        {% else %}
                                            <input type="number" name="snack_fats" class="form-control">
                                        {% endif %}
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="snack_fruits" class="form-control" value="{{log_info.meals[3]['fruits']}}">
                                        {% elif "snack_details" in session %}
                                            <input type="number" name="snack_fruits" class="form-control" value="{{session['snack_fruits']}}">
                                        {% else %}
                                            <input type="number" name="snack_fruits" class="form-control">
                                        {% endif %}
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        {% if log_info and log_info.meals %}
                                            <input type="number" name="snack_vegetables" class="form-control" value="{{log_info.meals[3]['vegetables']}}">
                                        {% elif "snack_details" in session %}
                                            <input type="number" name="snack_vegetables" class="form-control" value="{{session['snack_vegetables']}}">
                                        {% else %}
                                            <input type="number" name="snack_vegetables" class="form-control">
                                        {% endif %}
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(category_filter = ["snack"])%}
                                {% if messages %}
                                    {% for msg in messages %}
                                        <p class="text-danger text-center rounded py-2 my-2" style="background-color:#F5DADF">{{msg}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer class="bg-dark text-light py-3 mt-5">
        <div class="d-flex w-100 h-100 pt-5 gap-5 cover-container mx-auto">
            <img src="{{ url_for('static', filename='images/MH-logo-light.png') }}" alt="logo" class="fload-md-start footer-logo">
            <div class="float-md-end mx-auto">
                <p>Created with &#9825 by Melissa Hernandez</p>
                <p>Source code available on <a class="link text-tan" target="_blank" href="https://github.com/mmhernandez/flex_meal_tracker">GitHub</a></p>
                <div class="socials">
                    <p>
                        <a href="https://github.com/mmhernandez" target="_blank"><img src="https://skillicons.dev/icons?i=github" alt="github" class="footer-social"></a>
                        <a href="https://www.linkedin.com/in/melissa-dangelo-hernandez/" target="_blank"><img src="https://skillicons.dev/icons?i=linkedin" alt="linkedin" class="footer-social"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>