<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <!-- styling -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-3 px-5 bg-secondary">
        <!-- style="background-color: #B3A494; -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Flex Program</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <main>
        <div class="container d-flex gap-3 align-items-end mt-4">
            <h1 class="fw-bolder pt-5 bg-info text-light w-75">flex MEAL TRACKER</h1>
            <div class="input-group mb-3 w-25 h-50">
                <input type="number" class="form-control" name="weight" placeholder="lbs">
                <input type="submit" value="Weight In!" class="btn btn-outline-primary">
            </div>
        </div>
        <div class="container"> 
            <div>
                <div class="form-floating w-100 mb-2">
                    <textarea class="form-control border border-2 border-secondary" name="breakfast" style="height: 100px"></textarea>
                    <label for="breakfast">Breakfast</label>
                </div>
            </div>
            <div class="form-floating w-100 mb-2">
                <textarea class="form-control border border-2 border-secondary" name="lunch" style="height: 100px"></textarea>
                <label for="lunch">Lunch</label>
            </div>
            <div class="form-floating w-100 mb-2">
                <textarea class="form-control border border-2 border-secondary" name="dinner" style="height: 100px"></textarea>
                <label for="dinner">Dinner</label>
            </div>
            <div class="form-floating w-100 mb-2">
                <textarea class="form-control border border-2 border-secondary" name="snack" style="height: 100px"></textarea>
                <label for="snack">Snack</label>
            </div>
            <div></div> 
        </div>
    </main> -->

    <main class="container d-flex gap-2 justify-content-between m-4">  
        <div class="container w-75"> 
            <h1 class="fw-bolder pt-5 bg-info text-light rounded">flex MEAL TRACKER</h1>
            <h3 class="text-info fw-bold pt-3">Daily Menu</h3>
            <div> 
                <div class="form-floating w-100 mb-2">
                    <textarea class="form-control border border-2 border-secondary" name="breakfast" style="height: 100px"></textarea>
                    <label for="breakfast">Breakfast</label>
                </div>
                <div class="form-floating w-100 mb-2">
                    <textarea class="form-control border border-2 border-secondary" name="lunch" style="height: 100px"></textarea>
                    <label for="lunch">Lunch</label>
                </div>
                <div class="form-floating w-100 mb-2">
                    <textarea class="form-control border border-2 border-secondary" name="dinner" style="height: 100px"></textarea>
                    <label for="dinner">Dinner</label>
                </div>
                <div class="form-floating w-100 mb-2">
                    <textarea class="form-control border border-2 border-secondary" name="snack" style="height: 100px"></textarea>
                    <label for="snack">Snack</label>
                </div>
                <div></div> 
            </div>
        </div>
        <div class="container w-25">  
            <div class="input-group mb-3">
                <input type="number" class="form-control" name="weight" placeholder="lbs">
                <input type="submit" value="Weight In!" class="btn btn-outline-primary">
            </div>
            <div>
                <div class="input-group input-group-sm">
                    <span class="input-group-text bg-primary text-light">Proteins</span>
                    <input type="number" class="form-control">
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-text bg-primary text-light">Fats</span>
                    <input type="number" class="form-control">
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-text bg-primary text-light">Fruits</span>
                    <input type="number" class="form-control">
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-text bg-primary text-light">Veggies</span>
                    <input type="number" class="form-control">
                </div>
            </div>
        </div>
    </main>  

    <div>   <!-- bottom -->
        <div></div>  <!-- "flex daily bonus" checkbox and field -->
        <div></div>  <!-- notes caption and text lines -->
    </div>

    <footer></footer>
</body>
</html>