<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <!-- styling -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-3 px-5 bg-secondary">
        <!-- style="background-color: #B3A494; -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Flex Program</a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="m-4">  <!-- main section (left) -->
        <div class="w-75">  <!-- left side -->
            <div class="d-flex">  <!-- left top section -->
                <div class="w-25">
                    <!-- "daily" info incl current date and sub-header -->
                    <div class="bg-info text-light text-center">
                        <p>Today's Date</p>
                        <p>Feb 1, 2023</p>
                    </div>
                    <h3 class="text-info fw-bold">Daily Menu</h3>
                </div>    
                <h1><span>flex</span><br>Meal Tracker</h1>
            </div>
            <div> <!-- left bottom section -->
                <div></div>   <!-- meal time blocks -->
                <div></div>   <!-- text lines -->
                <div></div>  <!-- "hydrate" section -->
            </div>
        </div>
        <div>   <!-- right side -->
            <div>  <!-- right top section -->
                <div></div>   <!-- weigh-in field -->
                <div></div>   <!-- food type field header boxes -->
            </div>
            <div> <!-- right bottom section -->
                <div></div>   <!-- food type blocks for value input -->
                <div></div>   <!-- food type total-->
            </div>
        </div>
    </main>  
    <div>   <!-- bottom -->
        <div></div>  <!-- "flex daily bonus" checkbox and field -->
        <div></div>  <!-- notes caption and text lines -->
    </div>

    <footer></footer>
</body>
</html>