<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Program</title>

    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
</head>
    <section class="hero">
        <div class="d-flex justify-content-end align-items-start">
            <a href="" class="btn btn-outline-light my-3">Sign up</a>
            <a href="/log_in" class="btn btn-dark my-3 ms-2 me-5">Log in</a>
        </div>
        <main class="container mx-auto px-5 py-3 my-5 bg-light rounded shadow flx-signup">
            <h1 class="my-5 text-center">Create an account</h1>
            <form action="/signup" method="post">
                <div class="d-flex justify-content-between gap-4 flx-signup-block">
                    <div class="mb-3 flx-signup-items form-floating">
                        {% if "first_name" in session %}
                            <input type="text" name="first_name" class="form-control" value="{{session['first_name']}}" placeholder="First Name">
                        {% else %}
                            <input type="text" name="first_name" class="form-control"  placeholder="First Name">
                        {% endif %}
                        <label for="first_name" class="form-label">First Name</label>
                        {% with messages = get_flashed_messages(category_filter = ["first_name"])%}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p class="text-danger">{{msg}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="mb-3 flx-signup-items form-floating">
                        {% if "last_name" in session %}
                            <input type="text" name="last_name" class="form-control" value="{{session['last_name']}}" placeholder="Last Name">
                        {% else %}
                            <input type="text" name="last_name" class="form-control" placeholder="First Name">
                        {% endif %}
                        <label for="last_name" class="form-label">Last Name</label>
                        {% with messages = get_flashed_messages(category_filter = ["last_name"])%}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p class="text-danger">{{msg}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    {% if "email" in session %}
                        <input type="text" name="email" class="form-control" value="{{session['email']}}" placeholder="Email">
                    {% else %}
                        <input type="text" name="email" class="form-control" placeholder="Email">
                    {% endif %}
                    <label for="email" class="form-label">Email</label>
                    {% with messages = get_flashed_messages(category_filter = ["email"])%}
                        {% if messages %}
                            {% for msg in messages %}
                                <p class="text-danger">{{msg}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="d-flex justify-content-between flx-signup-block">
                    <div class="mb-3 flx-signup-items form-floating">
                        <input type="password" name="password" class="form-control" placeholder="**********">
                        <label for="password" class="form-label">Password</label>
                        {% with messages = get_flashed_messages(category_filter = ["password"])%}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p class="text-danger">{{msg}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter = ["confirm_password"])%}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p class="text-danger">{{msg}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="mt-3">
                        <!-- modal trigger -->
                        <button type="button" class="btn btn-light btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                            </svg>
                        </button>
                        <!-- modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Password Requirements</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Passwords require at least: 
                                        <ul>
                                            <li>One uppercase letter</li>
                                            <li>One lowercase letter</li>
                                            <li>One special character (@ # $ % ^ & + =)</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 flx-signup-items form-floating">
                        <input type="password" name="confirm_password" class="form-control" placeholder="**********">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        {% with messages = get_flashed_messages(category_filter = ["confirm_password"])%}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p class="text-danger">{{msg}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <input type="submit" value="Sign Up" class="btn btn-dark text-light">
                </div>
            </form>
            <p class="mt-5 text-center">Already have an account? <a href="/log_in" class="my-5 text-center">Log in</a></p>
        </main>
    </section>

    <footer class="bg-dark text-light py-3 flx-signup-footer">
        <div class="d-flex w-100 h-100 pt-5 gap-5 cover-container mx-auto align-items-center">
            <img src="{{ url_for('static', filename='images/MH-logo-light.png') }}" alt="" class="fload-md-start footer-logo">
            <p>Created with &#9825 by Melissa Hernandez</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
