<footer class="bg-dark text-light py-3 mt-5">
    <div class="d-flex w-100 h-100 pt-5 gap-5 cover-container mx-auto">
        <img src="{{ url_for('static', filename='images/MH-logo-light.png') }}" alt="logo" class="fload-md-start footer-logo">
        <div class="float-md-end mx-auto">
            <p>Created with &#9825 by Melissa Hernandez</p>
            <p>Source code available on <a class="link text-tan" target="_blank" href="https://github.com/mmhernandez/flex_meal_tracker">GitHub</a></p>
            <div class="socials">
                <p>
                    <a href="https://github.com/mmhernandez" target="_blank"><img src="https://skillicons.dev/icons?i=github" alt="github" class="footer-social"></a>
                    <a href="https://www.linkedin.com/in/melissa-dangelo-hernandez/" target="_blank"><img src="https://skillicons.dev/icons?i=linkedin" alt="linkedin" class="footer-social"></a>
                </p>
            </div>
        </div>
    </div>
</footer>