<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Tracker</title>

    <!-- styling -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
</head>
<body class="bg-light">
    <header class="bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <nav class="mb-auto">
                <div>
                    <p class="float-md-start fs-4 py-1 text-light">Flex Program</p>
                    <nav class="nav nav-masthead justify-content-center float-md-end">

                        <!-- Calendar Offcanvas-->
                        <a class="nav-link fw-bold py-1 px-0 me-3 pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Calendar</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body bg-light">
                                <p class="my-3">Select a date to view the daily tracker.</p>
                                <div class="calendar ms-2">
                                    <div class="calendar-header">
                                        <span class="month-picker" id="month-picker">April</span>
                                        <div class="year-picker">
                                            <span class="year-change" id="prev-year">
                                                <pre><</pre>
                                            </span>
                                            <span id="year">2022</span>
                                            <span class="year-change" id="next-year">
                                                <pre>></pre>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="calendar-body">
                                        <div class="calendar-week-day">
                                            <div>Sun</div>
                                            <div>Mon</div>
                                            <div>Tue</div>
                                            <div>Wed</div>
                                            <div>Thu</div>
                                            <div>Fri</div>
                                            <div>Sat</div>
                                        </div>
                                        <div class="calendar-days"></div>
                                    </div>
                                    <div class="month-list"></div>
                                </div>
                            </div>
                        </div>

                        <a class="nav-link fw-bold py-1 px-0" href="/dashboard">Dashboard</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/account">Account</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="d-flex justify-content-between w-75 mx-auto mt-4 mb-5 pt-5 ps-1 bg-tan rounded">
            <h1 class="text-dark fw-bolder me-2">flex</br>DAILY MEAL TRACKER</h1>
            <p class="fs-1 text-white pe-3">{{day.strftime('%b %d, %Y')}}</p>
        </div>

        <!-- Daily Summary -->
        <div class="container my-5 w-75 ">
            <h3 class="fw-bold">Daily Summary</h3>
            <p>Total macro nutrients for the day.</p>
            <div class="d-flex gap-4 flx-summary">
                <div class="d-flex gap-4 flx-summary-block">
                    <div class="card text-white bg-primary mb-3 flx-summary-items">
                        <div class="card-header fw-bold bg-dark text-tan">Lean Proteins</div>
                        <div class="card-body bg-white text-dark">
                            <h5 class="card-title">## protiens</h5>
                            <p class="card-text">Goal: 8 ounces</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3 flx-summary-items">
                        <div class="card-header fw-bold bg-dark text-tan">Fats</div>
                        <div class="card-body bg-white text-dark">
                            <h5 class="card-title">## fats</h5>
                            <p class="card-text">Goal: 8 servings</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-4 flx-summary-block">
                    <div class="card text-white bg-primary mb-3 flx-summary-items">
                        <div class="card-header fw-bold bg-dark text-tan">Fruits</div>
                        <div class="card-body bg-white text-dark">
                            <h5 class="card-title">## fruits</h5>
                            <p class="card-text">Goal: 1 fruit</p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3 flx-summary-items">
                        <div class="card-header fw-bold bg-dark text-tan">Vegetables</div>
                        <div class="card-body bg-white text-dark">
                            <h5 class="card-title">## veggies</h5>
                            <p class="card-text">Goal: 6 veggies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Meal Details -->
        <div class="container w-75 mx-auto">
            <h3 class="fw-bold mb-3">Meal Details</h3>
            <div class="meal-details">
                <div class="d-flex justify-content-between gap-3 meal-block">
                    <!-- Breakfast -->
                    <div class="meal-items">
                        <div class="container bg-white rounded p-3 shadow">
                            <div class="d-flex justify-content-between">
                                <p class="fs-3 text-dark">Breakfast</p>
                                <button type="button" class="btn btn-secondary h-75 text-light py-2" data-bs-toggle="modal" data-bs-target="#staticBackdropBreakfast">Update</button>
                            </div>
                            <div class="form-floating mb-5">
                                <textarea class="form-control border border-2 border-secondary" name="breakfast" style="height: 150px" disabled></textarea>
                                <label for="breakfast">Breakfast meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="proteins" class="form-control" disabled>
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="fats" class="form-control" disabled>
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="fruits" class="form-control" disabled>
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="vegetables" class="form-control" disabled>
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Breakfast Edit Modal -->
                        <div class="modal fade" id="staticBackdropBreakfast" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-light">
                                    <div class="modal-header bg-dark text-light">
                                        <h5 class="modal-title">Breakfast</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/meal/update/{{day.strftime('%Y-%m-%d')}}/breakfast" method="post" class="container p-3 my-3">
                                        <div class="modal-body">
                                            <div class="form-floating mb-5">
                                                <textarea class="form-control border border-2 border-secondary" name="breakfast" style="height: 150px"></textarea>
                                                <label for="breakfast">Add your breakfast meal details</label>
                                            </div>
                                            <p class="text-primary">Add the quantity of each food type below:</p>
                                            <div class="d-flex justify-content-between gap-1">
                                                <div class="form-floating">
                                                    <input type="number" name="proteins" class="form-control">
                                                    <label for="proteins" class="form-label">Proteins</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fats" class="form-control">
                                                    <label for="fats" class="form-label">Fats</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fruits" class="form-control">
                                                    <label for="fruits" class="form-label">Fruits</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="vegetables" class="form-control">
                                                    <label for="vegetables" class="form-label">Veg</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <input type="submit" value="Save" class="btn btn-tan text-light h-75">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Lunch -->
                    <div class="meal-items">
                        <div class="container bg-white rounded p-3 shadow">
                            <div class="d-flex justify-content-between">
                                <p class="fs-3 text-dark">Lunch</p>
                                <button type="button" class="btn btn-secondary h-75 text-light py-2" data-bs-toggle="modal" data-bs-target="#staticBackdropLunch">Update</button>
                            </div>
                            <div class="form-floating mb-5">
                                <textarea class="form-control border border-2 border-secondary" name="lunch" style="height: 150px" disabled></textarea>
                                <label for="lunch">Lunch meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="proteins" class="form-control" disabled>
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="fats" class="form-control" disabled>
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="fruits" class="form-control" disabled>
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="vegetables" class="form-control" disabled>
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Lunch Edit Modal -->
                        <div class="modal fade" id="staticBackdropLunch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-light">
                                    <div class="modal-header bg-dark text-light">
                                        <h5 class="modal-title">Lunch</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/meal/update/{{day.strftime('%Y-%m-%d')}}/lunch" method="post" class="container p-3 my-3">
                                        <div class="modal-body">
                                            <div class="form-floating mb-5">
                                                <textarea class="form-control border border-2 border-secondary" name="lunch" style="height: 150px"></textarea>
                                                <label for="lunch">Add your lunch meal details</label>
                                            </div>
                                            <p class="text-primary">Add the quantity of each food type below:</p>
                                            <div class="d-flex justify-content-between gap-1">
                                                <div class="form-floating">
                                                    <input type="number" name="proteins" class="form-control">
                                                    <label for="proteins" class="form-label">Proteins</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fats" class="form-control">
                                                    <label for="fats" class="form-label">Fats</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fruits" class="form-control">
                                                    <label for="fruits" class="form-label">Fruits</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="vegetables" class="form-control">
                                                    <label for="vegetables" class="form-label">Veg</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <input type="submit" value="Save" class="btn btn-tan text-light h-75">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between gap-3 mt-3 meal-block">
                    <!-- Dinner -->
                    <div class="meal-items">
                        <div class="container bg-white rounded p-3 shadow">
                            <div class="d-flex justify-content-between">
                                <p class="fs-3 text-dark">Dinner</p>
                                <button type="button" class="btn btn-secondary h-75 text-light py-2" data-bs-toggle="modal" data-bs-target="#staticBackdropDinner">Update</button>
                            </div>
                            <div class="form-floating mb-5">
                                <textarea class="form-control border border-2 border-secondary" name="dinner" style="height: 150px" disabled></textarea>
                                <label for="dinner">Dinner meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="proteins" class="form-control" disabled>
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="fats" class="form-control" disabled>
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="fruits" class="form-control" disabled>
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="vegetables" class="form-control" disabled>
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dinner Edit Modal -->
                        <div class="modal fade" id="staticBackdropDinner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-light">
                                    <div class="modal-header bg-dark text-light">
                                        <h5 class="modal-title">Dinner</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/meal/update/{{day.strftime('%Y-%m-%d')}}/dinner" method="post" class="container p-3 my-3">
                                        <div class="modal-body">
                                            <div class="form-floating mb-5">
                                                <textarea class="form-control border border-2 border-secondary" name="dinner" style="height: 150px"></textarea>
                                                <label for="dinner">Add your dinner meal details</label>
                                            </div>
                                            <p class="text-primary">Add the quantity of each food type below:</p>
                                            <div class="d-flex justify-content-between gap-1">
                                                <div class="form-floating">
                                                    <input type="number" name="proteins" class="form-control">
                                                    <label for="proteins" class="form-label">Proteins</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fats" class="form-control">
                                                    <label for="fats" class="form-label">Fats</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fruits" class="form-control">
                                                    <label for="fruits" class="form-label">Fruits</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="vegetables" class="form-control">
                                                    <label for="vegetables" class="form-label">Veg</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <input type="submit" value="Save" class="btn btn-tan text-light h-75">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Snack -->
                    <div class="meal-items">
                        <div class="container bg-white rounded p-3 shadow">
                            <div class="d-flex justify-content-between">
                                <p class="fs-3 text-dark">Snack</p>
                                <button type="button" class="btn btn-secondary h-75 text-light py-2" data-bs-toggle="modal" data-bs-target="#staticBackdropSnack">Update</button>
                            </div>
                            <div class="form-floating mb-5">
                                <textarea class="form-control border border-2 border-secondary" name="snack" style="height: 150px" disabled></textarea>
                                <label for="snack">Snack meal details</label>
                            </div>
                            <div class="d-flex justify-content-between gap-1 meal-items-section">
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="proteins" class="form-control" disabled>
                                        <label for="proteins" class="form-label">Proteins (oz)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="fats" class="form-control" disabled>
                                        <label for="fats" class="form-label">Fats (serving)</label>
                                    </div>
                                </div>
                                <div class="d-flex gap-1 meal-items-block">
                                    <div class="form-floating">
                                        <input type="number" name="fruits" class="form-control" disabled>
                                        <label for="fruits" class="form-label">Fruits (qty)</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="vegetables" class="form-control" disabled>
                                        <label for="vegetables" class="form-label">Veggies (qty)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Snack Edit Modal -->
                        <div class="modal fade" id="staticBackdropSnack" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-light">
                                    <div class="modal-header bg-dark text-light">
                                        <h5 class="modal-title">Snack</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/meal/update/{{day.strftime('%Y-%m-%d')}}/snack" method="post" class="container p-3 my-3">
                                        <div class="modal-body">
                                            <div class="form-floating mb-5">
                                                <textarea class="form-control border border-2 border-secondary" name="snack" style="height: 150px"></textarea>
                                                <label for="snack">Add your snack details</label>
                                            </div>
                                            <p class="text-primary">Add the quantity of each food type below:</p>
                                            <div class="d-flex justify-content-between gap-1">
                                                <div class="form-floating">
                                                    <input type="number" name="proteins" class="form-control">
                                                    <label for="proteins" class="form-label">Proteins</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fats" class="form-control">
                                                    <label for="fats" class="form-label">Fats</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="fruits" class="form-control">
                                                    <label for="fruits" class="form-label">Fruits</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" name="vegetables" class="form-control">
                                                    <label for="vegetables" class="form-label">Veg</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <input type="submit" value="Save" class="btn btn-tan text-light h-75">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Daily Checks -->
        <div class="container rounded bg-white shadow p-4 w-75 mt-5">
            <div class="d-flex justify-content-between">
                <h3 class="fw-bold mt-3">Daily Checks</h3>
                {% if log_info.is_daily_checks %}
                    <button type="button" class="btn btn-secondary h-75 text-light py-2" data-bs-toggle="modal" data-bs-target="#staticBackdropChecks">Update</button>
                {% else %}
                    <button type="button" class="btn btn-tan h-75 text-light py-2" data-bs-toggle="modal" data-bs-target="#staticBackdropChecks">Add</button>
                {% endif %}
            </div>
            <!-- Water/Hydration Info -->
            <div>
                <p>Click a water droplet for every 8oz of water water you drink throughout the day!</p>
                <div class="d-flex justify-items-between gap-3 flex-wrap">
                    {% for i in range(1,11) %}
                        {% if (log_info.water) and (log_info.water >= i) %}
                            <a href="" class="btn btn-lg btn-outline-success active mx-1 disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                                </svg>
                            </a>
                        {% else %}
                            <a href="" class="btn btn-lg btn-outline-success mx-1 disabled">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                                </svg>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Other Daily Check Checkboxes -->
            <div class="mt-4">
                <p>Check the appropriate boxes when the activities occur each day.</p>
                <div class="container">
                    {% if (log_info.id) and (log_info.flex_daily_bonus) == 1 %}
                        <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" value="{{log_info.flex_daily_bonus}}" checked disabled>
                    {% else %}
                        <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" disabled>
                    {% endif %}
                    <label for="daily_bonus" class="form-check-label fs-5">Flex<sup>TM</sup> Daily Bonus</label>
                </div>
                <div class="container mt-2">
                    {% if (log_info.id) and (log_info.exercise == 1) %}
                        <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" value="{{log_info.exercise}}" checked disabled>
                    {% else %}
                        <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" disabled>
                    {% endif %}
                    <label for="exercise" class="form-check-label pt-1 fs-5">30+ Minute Exercise</label>
                </div>
            </div>
            <!-- Add/Update Modal -->
            <div class="modal fade" id="staticBackdropChecks" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-light">
                        <div class="modal-header bg-dark text-light">
                            <h5 class="modal-title">Daily Checks</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        {% if log_info.is_daily_checks == "True" %}
                            <form action="/daily_checks/update/{{day.strftime('%Y-%m-%d')}}" method="post">
                        {% else %}
                            <form action="/daily_checks/add/{{day.strftime('%Y-%m-%d')}}" method="post">
                        {% endif %}
                            <div class="mx-auto p-3 my-3">
                                <h5>Hydration</h3>
                                <div>
                                    <label for="water" class="form-label">How much water have you had today? Input the number of 8oz glasses below:</label>
                                    {% if log_info.water %}
                                        <input type="number" name="water" class="form-control w-50" value="{{log_info.water}}">
                                    {% else %}
                                        <input type="number" name="water" class="form-control w-50">
                                    {% endif %}
                                    {% with messages = get_flashed_messages(category_filter = ["water"])%}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p class="text-danger">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="p-3 my-3">
                                <h5 class="mt-4">Daily Checks</h3>
                                <div>
                                    <p>Check the appropriate boxes when the activities occur each day.</p>
                                    <div class="container">
                                        {% if (log_info) and log_info.flex_daily_bonus == 1 %}
                                            <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3" value="{{log_info.flex_daily_bonus}}" checked>
                                        {% else %}
                                            <input type="checkbox" name="daily_bonus" class="form-check-input fs-4 me-3">
                                        {% endif %}
                                        <label for="daily_bonus" class="form-check-label fs-5">Flex<sup>TM</sup> Daily Bonus</label>
                                    </div>
                                    <div class="container mt-2">
                                        {% if (log_info) and log_info.exercise == 1 %}
                                            <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4" value="{{log_info.exercise}}" checked>
                                        {% else %}
                                            <input type="checkbox" name="exercise" class="form-check-input me-3 fs-4">
                                        {% endif %}   
                                        <label for="exercise" class="form-check-label pt-1 fs-5">30+ Minute Exercise</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <input type="submit" value="Save" class="btn btn-tan text-light h-75">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Weight & Measurements -->
        <div class="container rounded bg-white shadow p-4 mx-auto w-75 my-5">
            <div class="d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold mt-3">Weight & Measurements</h3>
                    <p>Weigh-in and add your daily measurements</p>
                </div>
                {% if log_info.is_weight_measurements %}
                    <a href="/weight_measurements/edit/{{day.strftime('%Y-%m-%d')}}" class="btn btn-secondary h-75 text-light py-2">Update</a>
                {% else %}
                    <a href="/weight_measurements/add/{{day.strftime('%Y-%m-%d')}}" class="btn btn-tan h-75 text-light py-2">Add</a>
                {% endif %}
            </div>
            <!-- Fields List -->
            <div>
                <div class="d-flex align-items-start gap-5 flx-wm">
                    <div class="d-flex gap-5 flx-wm-block">
                        <div>
                            <label for="weight" class="form-label">Weight</label>
                            <div class="mb-3 input-group">
                                {% if log_info.weight %}
                                    <input type="number" name="weight" class="form-control" value="{{log_info.weight}}" disabled>
                                {% else %}
                                    <input type="number" name="weight" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">lbs</span>
                            </div>
                        </div>
                        <div>
                            <label for="bust" class="form-label">Bust</label>
                            <div class="mb-3 input-group">
                                {% if log_info.bust %}
                                    <input type="number" name="bust" class="form-control" value="{{log_info.bust}}" disabled>
                                {% else %}
                                    <input type="number" name="bust" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="waist" class="form-label">Waist</label>
                            <div class="mb-3 input-group">
                                {% if log_info.waist %}
                                    <input type="number" name="waist" class="form-control" value="{{log_info.waist}}" disabled>
                                {% else %}
                                    <input type="number" name="waist" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="abdomen" class="form-label">Abdomen</label>
                            <div class="mb-3 input-group">
                                {% if log_info.abdomen %}
                                    <input type="number" name="abdomen" class="form-control" value="{{log_info.abdomen}}" disabled>
                                {% else %}
                                    <input type="number" name="abdomen" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="hips" class="form-label">Hips</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_arm %}
                                    <input type="number" name="hips" class="form-control" value="{{log_info.right_arm}}" disabled>
                                {% else %}
                                    <input type="number" name="hips" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex gap-5 flx-wm-block">
                        <div>
                            <label for="right_arm" class="form-label">Right Arm</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_arm %}
                                    <input type="number" name="right_arm" class="form-control" value="{{log_info.right_arm}}" disabled>
                                {% else %}
                                    <input type="number" name="right_arm" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="left_arm" class="form-label">Left Arm</label>
                            <div class="mb-3 input-group">
                                {% if log_info.left_arm %}
                                    <input type="number" name="left_arm" class="form-control" value="{{log_info.left_arm}}" disabled>
                                {% else %}
                                    <input type="number" name="left_arm" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                        <div>
                            <label for="right_thigh" class="form-label">Right Thigh</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_thigh %}
                                    <input type="number" name="right_thigh" class="form-control" value="{{log_info.right_thigh}}" disabled>
                                {% else %}
                                    <input type="number" name="right_thigh" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="left_thigh" class="form-label">Left Thigh</label>
                            <div class="mb-3 input-group">
                                {% if log_info.left_thigh %}
                                    <input type="number" name="left_thigh" class="form-control" value="{{log_info.left_thigh}}" disabled>
                                {% else %}
                                    <input type="number" name="left_thigh" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="right_calf" class="form-label">Right Calf</label>
                            <div class="mb-3 input-group">
                                {% if log_info.right_calf %}
                                    <input type="number" name="right_calf" class="form-control" value="{{log_info.right_calf}}" disabled>
                                {% else %}
                                    <input type="number" name="right_calf" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                            <label for="left_calf" class="form-label">Left Calf</label>
                            <div class="mb-3 input-group">
                                {% if log_info.left_calf %}
                                    <input type="number" name="left_calf" class="form-control" value="{{log_info.left_calf}}" disabled>
                                {% else %}
                                    <input type="number" name="left_calf" class="form-control" disabled>
                                {% endif %}
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="bg-dark text-light py-3">
        <div class="d-flex w-100 h-100 pt-5 gap-5 cover-container mx-auto">
            <img src="../static/images/MH-logo-light.png" alt="" class="fload-md-start footer-logo">
            <div class="float-md-end mx-auto">
                <p>Created with &#9825 by Melissa Hernandez</p>
                <p>Source code available on <a class="link text-tan" target="_blank" href="https://github.com/mmhernandez/flex_meal_tracker">GitHub</a></p>
                <div class="socials">
                    <p>
                        <a href="https://github.com/mmhernandez" target="_blank"><img src="https://skillicons.dev/icons?i=github" alt="github" class="footer-social"></a>
                        <a href="https://www.linkedin.com/in/melissa-dangelo-hernandez/" target="_blank"><img src="https://skillicons.dev/icons?i=linkedin" alt="linkedin" class="footer-social"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>