<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight & Measurements</title>

    <!-- styling -->
    <!-- <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
</head>
<body class="bg-taupe">
    <header class="bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <nav class="mb-auto">
                <div>
                    <p class="float-md-start fs-4 py-1 text-light">Flex Program</p>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        
                        <!-- Calendar Offcanvas-->
                        <a class="nav-link fw-bold py-1 px-0 me-3 disabled" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >Calendar</a>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Calendar</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body bg-light">
                                <p class="my-3">Select a date to view the daily tracker.</p>
                                <div class="calendar ms-2">
                                    <div class="calendar-header">
                                        <span class="month-picker" id="month-picker">April</span>
                                        <div class="year-picker">
                                            <span class="year-change" id="prev-year">
                                                <pre><</pre>
                                            </span>
                                            <span id="year">2022</span>
                                            <span class="year-change" id="next-year">
                                                <pre>></pre>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="calendar-body">
                                        <div class="calendar-week-day">
                                            <div>Sun</div>
                                            <div>Mon</div>
                                            <div>Tue</div>
                                            <div>Wed</div>
                                            <div>Thu</div>
                                            <div>Fri</div>
                                            <div>Sat</div>
                                        </div>
                                        <div class="calendar-days"></div>
                                    </div>
                                    <div class="month-list"></div>
                                </div>
                            </div>
                        </div>

                        <a class="nav-link fw-bold py-1 px-0 disabled" href="/dashboard">Dashboard</a>
                        <a class="nav-link fw-bold py-1 px-0 disabled" href="/account">Account</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <form action="/weight_measurements/action/{{day.strftime('%Y-%m-%d')}}" method="post">
            <div class="container flx-pg mx-auto px-5 py-3 my-5 bg-white rounded shadow">
                {% if log_info and log_info.weight_measurements_flag %}
                    <h1 class="text-tan fw-bolder text-center mt-4">Edit Weight & Measurements</h1>
                {% else %}
                    <h1 class="text-tan fw-bolder text-center mt-4">Add Weight & Measurements</h1>
                {% endif %}
                <p class="text-tan mt-2 text-center fs-5">for {{day.strftime('%b %d, %Y')}}</p>
                <div class="d-flex justify-content-end py-4 border-bottom-tan">
                    <a href="/daily_tracker/{{day.strftime('%Y-%m-%d')}}" class="btn btn-secondary mt-4 text-end me-2">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-tan mt-4 text-end">
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-between gap-3">
                        <div class="flx">
                            <div class="mb-3">
                                <label for="weight" class="form-label">Weight <span class="fw-lighter">(lbs)</span></label>
                                {% if log_info and log_info.weight %}
                                    <input type="number" step="0.01" name="weight" class="form-control" value="{{log_info.weight}}">
                                {% elif "weight" in session %}
                                    <input type="number" step="0.01" name="weight" class="form-control" value="{{session['weight']}}">
                                {% else %}
                                    <input type="number" step="0.01" name="weight" class="form-control">
                                {% endif %}
                                {% with messages = get_flashed_messages(category_filter = ["weight"])%}
                                    {% if messages %}
                                        {% for msg in messages %}
                                            <p class="text-danger">{{msg}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <p class="fw-lighter fst-italic">Measurements are in inches</p>
                            <div class="mb-3">
                                <label for="bust" class="form-label">Bust</label>
                                {% if log_info and log_info.bust %}
                                    <input type="number" step="0.01" name="bust" class="form-control" value="{{log_info.bust}}">
                                {% elif "bust" in session %}
                                    <input type="number" step="0.01" name="bust" class="form-control" value="{{session['bust']}}">
                                {% else %}
                                    <input type="number" step="0.01" name="bust" class="form-control">
                                {% endif %}
                                {% with messages = get_flashed_messages(category_filter = ["bust"])%}
                                    {% if messages %}
                                        {% for msg in messages %}
                                            <p class="text-danger">{{msg}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="mb-3">
                                <label for="waist" class="form-label">Waist</label>
                                {% if log_info and log_info.waist %}
                                    <input type="number" step="0.01" name="waist" class="form-control" value="{{log_info.waist}}">
                                {% elif "waist" in session %}
                                    <input type="number" step="0.01" name="waist" class="form-control" value="{{session['waist']}}">
                                {% else %}
                                    <input type="number" step="0.01" name="waist" class="form-control">
                                {% endif %}
                                {% with messages = get_flashed_messages(category_filter = ["waist"])%}
                                    {% if messages %}
                                        {% for msg in messages %}
                                            <p class="text-danger">{{msg}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="mb-3">
                                <label for="abdomen" class="form-label">Abdomen</label>
                                {% if log_info and log_info.abdomen %}
                                    <input type="number" step="0.01" name="abdomen" class="form-control" value="{{log_info.abdomen}}">
                                {% elif "abdomen" in session %}
                                    <input type="number" step="0.01" name="abdomen" class="form-control" value="{{session['abdomen']}}">
                                {% else %}
                                    <input type="number" step="0.01" name="abdomen" class="form-control">
                                {% endif %}
                                {% with messages = get_flashed_messages(category_filter = ["abdomen"])%}
                                    {% if messages %}
                                        {% for msg in messages %}
                                            <p class="text-danger">{{msg}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="mb-3">
                                <label for="hips" class="form-label">Hips</label>
                                {% if log_info and log_info.hips %}
                                    <input type="number" step="0.01" name="hips" class="form-control" value="{{log_info.hips}}">
                                {% elif "hips" in session %}
                                    <input type="number" step="0.01" name="hips" class="form-control" value="{{session['hips']}}">
                                {% else %}
                                    <input type="number" step="0.01" name="hips" class="form-control">
                                {% endif %}
                                {% with messages = get_flashed_messages(category_filter = ["hips"])%}
                                    {% if messages %}
                                        {% for msg in messages %}
                                            <p class="text-danger">{{msg}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="d-flex gap-3">
                                <div class="mb-3">
                                    <label for="right_arm" class="form-label">Right Arm</label>
                                    {% if log_info and log_info.right_arm %}
                                        <input type="number" step="0.01" name="right_arm" class="form-control" value="{{log_info.right_arm}}">
                                    {% elif "right_arm" in session %}
                                        <input type="number" step="0.01" name="right_arm" class="form-control" value="{{session['right_arm']}}">
                                    {% else %}
                                        <input type="number" step="0.01" name="right_arm" class="form-control">
                                    {% endif %}
                                    {% with messages = get_flashed_messages(category_filter = ["right_arm"])%}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p class="text-danger">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="mb-3">
                                    <label for="left_arm" class="form-label">Left Arm</label>
                                    {% if log_info and log_info.left_arm %}
                                        <input type="number" step="0.01" name="left_arm" class="form-control" value="{{log_info.left_arm}}">
                                    {% elif "left_arm" in session %}
                                        <input type="number" step="0.01" name="left_arm" class="form-control" value="{{session['left_arm']}}">
                                    {% else %}
                                        <input type="number" step="0.01" name="left_arm" class="form-control">
                                    {% endif %}
                                    {% with messages = get_flashed_messages(category_filter = ["left_arm"])%}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p class="text-danger">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="d-flex gap-3">
                                <div class="mb-3">
                                    <label for="right_thigh" class="form-label">Right Thigh</label>
                                    {% if log_info and log_info.right_thigh %}
                                        <input type="number" step="0.01" name="right_thigh" class="form-control" value="{{log_info.right_thigh}}">
                                    {% elif "right_thigh" in session %}
                                        <input type="number" step="0.01" name="right_thigh" class="form-control" value="{{session['right_thigh']}}">
                                    {% else %}
                                        <input type="number" step="0.01" name="right_thigh" class="form-control">
                                    {% endif %}
                                    {% with messages = get_flashed_messages(category_filter = ["right_thigh"])%}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p class="text-danger">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="mb-3">
                                    <label for="left_thigh" class="form-label">Left Thigh</label>
                                    {% if log_info and log_info.left_thigh %}
                                        <input type="number" step="0.01" name="left_thigh" class="form-control" value="{{log_info.left_thigh}}">
                                    {% elif "left_thigh" in session %}
                                        <input type="number" step="0.01" name="left_thigh" class="form-control" value="{{session['left_thigh']}}">
                                    {% else %}
                                        <input type="number" step="0.01" name="left_thigh" class="form-control">
                                    {% endif %}
                                    {% with messages = get_flashed_messages(category_filter = ["left_thigh"])%}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p class="text-danger">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="d-flex gap-3">
                                <div class="mb-3">
                                    <label for="right_calf" class="form-label">Right Calf</label>
                                    {% if log_info and log_info.right_calf %}
                                        <input type="number" step="0.01" name="right_calf" class="form-control" value="{{log_info.right_calf}}">
                                    {% elif "right_calf" in session %}
                                        <input type="number" step="0.01" name="right_calf" class="form-control" value="{{session['right_calf']}}">
                                    {% else %}
                                        <input type="number" step="0.01" name="right_calf" class="form-control">
                                    {% endif %}
                                    {% with messages = get_flashed_messages(category_filter = ["right_calf"])%}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p class="text-danger">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="mb-3">
                                    <label for="left_calf" class="form-label">Left Calf</label>
                                    {% if log_info and log_info.left_calf %}
                                        <input type="number" step="0.01" name="left_calf" class="form-control" value="{{log_info.left_calf}}">
                                    {% elif "left_calf" in session %}
                                        <input type="number" step="0.01" name="left_calf" class="form-control" value="{{session['left_calf']}}">
                                    {% else %}
                                        <input type="number" step="0.01" name="left_calf" class="form-control">
                                    {% endif %}
                                    {% with messages = get_flashed_messages(category_filter = ["left_calf"])%}
                                        {% if messages %}
                                            {% for msg in messages %}
                                                <p class="text-danger">{{msg}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='images/woman-silhoutte-measurements.png') }}" alt="body-measurements-graphic" class="h-50 w-50 hide">
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer class="bg-dark text-light py-3 mt-5">
        <div class="d-flex w-100 h-100 pt-5 gap-5 cover-container mx-auto">
            <img src="{{ url_for('static', filename='images/MH-logo-light.png') }}" alt="logo" class="fload-md-start footer-logo">
            <div class="float-md-end mx-auto">
                <p>Created with &#9825 by Melissa Hernandez</p>
                <p>Source code available on <a class="link text-tan" target="_blank" href="https://github.com/mmhernandez/flex_meal_tracker">GitHub</a></p>
                <div class="socials">
                    <p>
                        <a href="https://github.com/mmhernandez" target="_blank"><img src="https://skillicons.dev/icons?i=github" alt="github" class="footer-social"></a>
                        <a href="https://www.linkedin.com/in/melissa-dangelo-hernandez/" target="_blank"><img src="https://skillicons.dev/icons?i=linkedin" alt="linkedin" class="footer-social"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>