.bg-primary {
    background-color: #603143 !important;
}

.bg-secondary {
    background-color: #B3A494 !important;
}

.bg-info {
    background-color: #603143 !important;
}

.text-primary {
    color: #603143 !important;
}

.text-secondary {
    color: #B3A494 !important;
}

.text-info {
    color: #603143 !important;
}
