:root {
    --maroon: #603143;
    --light-maroon: #927681;
    --dark: #202B27;
    --grey: #a6a9a2;
    --tan: #E6D2BC;
    --calendar-bg-main: #fdfdfd;
    --calendar-hover: #efeeee;
    --calendar-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* header */
.cover-container {
    max-width: 42em;
}

.nav-masthead .nav-link {
    color: #ffffff80;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    color: #fff;
    border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

/* main */
.page {
    text-shadow: 0 .05rem .1rem rgba(115, 114, 114, 0.5);
    box-shadow: inset 0 0 5rem rgba(115, 114, 114, 0.5);
}

.bg-primary {
    background-color: #4f4b42 !important;
}

.bg-secondary {
    background-color: #B3A494 !important;
    /* color: #E6D2BC; */
}

.bg-info {
    background-color: var(--maroon) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.text-primary {
    color: #4f4b42 !important;
}

.text-secondary {
    color: #B3A494 !important;
}

.text-info {
    color: var(--maroon) !important;
}

.text-grey {
    color: var(--grey) !important;
}

.border-secondary {
    border-color: #B3A494 !important;
}

.border-info {
    border-color: var(--maroon) !important;
}

.btn-outline-primary {
    color: #4f4b42;
    border-color: #4f4b42;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #4f4b42;
    border-color: #4f4b42;
}

.btn-outline-success {
    color: #5B8EB1;
    border-color: #5B8EB1;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #5B8EB1;
    border-color: #5B8EB1;
}

.btn-outline-success:focus {
    color: #fff;
    background-color: #5B8EB1;
    border-color: #5B8EB1;
}

.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem #3c617a;
}
.btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
    color: #fff;
    background-color: #5B8EB1;
    border-color: #5B8EB1;
}

.form-check-input:focus {
    border-color: #B3A494;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(85, 88, 92, 0.25);
}
.form-check-input:checked {
background-color: var(--maroon);
border-color: var(--maroon);
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #B3A494;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(144, 145, 145, 0.25);
}

.meal-img {
    border-radius: 8px;
    width: 5em;
    height: 150px;
    object-fit: cover;
    background-size: cover;
}

/* calendar */
.calendar {
    height: max-content;
    width: max-content;
    background-color: var(--calendar-bg-main);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--calendar-shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    /* color: var(--color-txt); */
    padding: 7px;
}

pre {
    color: var(--light-maroon);
}

.calendar-body {
    padding: 7px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #c3c2c8;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    /* color: var(--color-txt); */
}

.calendar-days div {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

/* .calendar-days div:hover span {
    background-color: var(--color-hover);
} */

/* .calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
} */

/* .calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
} */

/* .calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
} */

/* .calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
} */

/* .calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
    background-color: var(--blue);
} */
.calendar-days div:hover {
    background-color: var(--calendar-hover);
    border-radius: 50%;
}

/* .calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
} */

/* .calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
} */

.calendar-days div.curr-date {
    background-color: var(--maroon);
    color: #fff;
    border-radius: 50%;
}

.calendar-days div.curr-date:hover {
    background-color: var(--dark-second);
    color: #fff;
    border-radius: 50%;
}

/* .calendar-days div.curr-date span {
    display: none;
} */

.month-picker {
    padding: 2px 5px;
    border-radius: 7px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--calendar-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--calendar-hover);
}

/* .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

/* .toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
} */

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--calendar-bg-main);
    padding: 7px;
    grid-template-columns: repeat(3, auto);
    gap: 2px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    /* color: var(--color-txt); */
}

.month-list > div > div:hover {
    background-color: var(--calendar-hover);
}

/* calendar */
/* .calendar {
    background: #626363;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    height: 530px;
    perspective: 1000;
    transition: .9s;
    transform-style: preserve-3d;
    width: 100%;
}

.front {
    transform: rotateY(0deg);
}

.current-date {
    border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.current-date h1 {
    color: #dfebed;
    font-size: 1.4em;
    font-weight: 300;
}

.week-days {
    color: #dfebed;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 30px 40px;
}

.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weeks {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.weeks div {
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.last-month {
    opacity: .3;
}

.weeks span {
    padding: 10px;
}

.weeks span.active {
    background: var(--maroon);
    border-radius: 40%;
}

.weeks span:not(.last-month):hover {
    cursor: pointer;
    font-weight: 600;
}

.week-days > li {
    list-style: none;
}

.event {
    color: var(--maroon);
} */

/* footer */
.footer-logo{
    width: 120px;
    height: 120px;
}

.footer-social {
    width: 30px;
}