.bg-primary {
    background-color: #4f4b42 !important;
}

.bg-secondary {
    background-color: #B3A494 !important;
}

.bg-info {
    background-color: #603143 !important;
}

.text-primary {
    color: #4f4b42 !important;
}

.text-secondary {
    color: #B3A494 !important;
}

.text-info {
    color: #603143 !important;
}

.border-secondary {
    border-color: #B3A494 !important;
}

.border-info {
    border-color: #603143 !important;
}

.btn-outline-primary {
    color: #4f4b42;
    border-color: #4f4b42;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #4f4b42;
    border-color: #4f4b42;
}
